.caixa {
    width: 200px;
    height: 90%;
    background-color: antiquewhite;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
body{
    background-color: green;
}